.confirm-delete-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 24px;
    box-shadow: 0px 0px 10px rgb(36, 36, 36);
}

.confirm-delete-button {
    margin-top: 10px;
    background-color: #FF5A5F;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 4px rgb(36, 36, 36);
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
