.delete-success-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 150px;
}

.fa-trash-alt {
    color: #FF5A5F;
    font-size: 72px;
    padding-top: 25px;
}

.delete-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-to-home-button {
    margin-top: 32px;
    box-shadow: 0px 0px 2px rgb(36, 36, 36);
}
