.host-container {
    box-sizing: border-box;
    position: relative;
    top: 650px;
    height: 200px;
    width: 100%;
    margin-left: 3.3%;
    padding-bottom: 650px;
}

.host-text {
    box-sizing: border-box;
    padding-right: 0px;
    padding-left: 0px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    z-index: 10;
    top: 440px;
    left: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 10px rgb(36, 36, 36);
}

#splash-host {
    background-image: url("../../../public/images/host_01.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    color: transparent;
}

.splash-host-link {
    text-decoration: none;
}
