/* TODO Add site wide styles */

.site-background {
    background: linear-gradient(0deg, white, rgb(241, 241, 241));
    margin-top: -5px;
    width: 100%;
}

.site-body {
    padding-top: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 80px;
}
