.spot-display-container {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    padding-bottom: 24px;
}

.tile-grid {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.spot-details {
    text-decoration: none;
}

.spot-tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
    width: 240px;
}

.tile-image {
    box-sizing: border-box;
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 20px;
}

.spot-name {
    font-size: 20px;
    text-decoration: none;
}

.location-price {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: -8px;
}

.location {
    font-weight: bold;
    color: #FF5A5F;
    text-decoration: none;
    font-size: 14px;

}

.price {
    font-size: 13px;
    text-align: right;
}
