.create-success-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 150px;
}

.fa-house-user {
    color: #FF5A5F;
    font-size: 72px;
    padding-top: 25px;
}

.create-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-to-home-button {
    margin-top: 32px;
    box-shadow: 0px 0px 2px rgb(36, 36, 36);
}


.confirm-create-button {
    margin-top: 32px;
    background-color: #FF5A5F;
    width: 120px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 2px rgb(36, 36, 36);
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
