.navbar-top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.navbar-left {
    margin-left: 50px;
}

.navbar-right {
    margin-right: 110px;
    display: flex;
    text-decoration: none;
}

.navbar-right > button {
    color: #282828;
    border: none;
    background-color: white;
    font-size: 16px;
}

input {
    text-align: center;
    border-radius: 10px;
    border-color: lightgray;
}
